.container{
    width: 307px;
    
    background-color: black;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 6px #424141;
    text-align: center;
    

}
.clear{
    width: 200px;
    height: 30px;
    background-color: rgb(215, 238, 11);
    border-radius: 30px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
